#uac-widget {
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}

#uac-widget .uac-heading {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #e0e0e0;
	background-color: #f0f0f0;
	color: #222;
	font-size: 14px;
	height: 50px;
}

#uac-widget .uac-dob-container {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	align-items: center;
	padding: 40px 10px 0 10px;
	justify-content: center;
}

#uac-widget .label {
	margin-right: 15px;
	width: 20%;
	text-align: right;
}

#uac-widget select, #uac-widget input {
	height: 35px;
	border: 1px solid #e0e0e0;
	font-size: 14px;
	border-radius: 5px;
}

#uac-widget .uac-birth-date {
	width: 60px;
	margin-right: 7px;
	padding: 5px;
}

#uac-widget .uac-birth-month {
	width: 100px;
	margin-right: 7px;
	padding: 5px;
}

#uac-widget input {
	width: 100px;
}


#uac-widget .submit-button-container {
	display: flex;
	justify-content: center;
	background-color: #f0f0f0;
	align-items: center;
	height: 50px;
}
#uac-widget .uac-submit-button {
	height: 35px;
	border-radius: 5px;
	font-size: 12px;
	display: flex;
	align-items: center;
}

#uac-widget .uac-message {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	height: 40px;
}